   @using Microsoft.AspNetCore.Authorization

   @inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider

   @page "/auth"

   @attribute [Authorize]

   <PageTitle>Auth</PageTitle>

   <h1>You are authenticated</h1>

   @code {
    private AuthenticationState _authenticationState;

    public Auth(AuthenticationState authenticationState)
    {
        _authenticationState = authenticationState;
    }

    protected override async Task OnInitializedAsync()
    {
           _authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
       }
   }

   @if (_authenticationState.User.Identity?.Name != null)
   {
       <p>Hello @_authenticationState.User.Identity.Name!</p>
   }
   